body {
    font-family: 'Roboto', sans-serif;
}

.nav-background {
    background-color: #fff;
    padding: 20px 0 20px 0;
}

.navbar-default .navbar-nav > li > a {
    color: #444;;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li:hover > a {
    color: #02BDD5;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #000;
    color: #02BDD5;
}

.dropdown-menu > li > a {
    background-color: #000;
    color: #fff;
}

.dropdown-menu {
    background-color: #000;
}

.navbar-nav > li > .dropdown-menu {
    top: 70px;
    left: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ccc;
}

.overlay, .img-overlay {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.navbar-container {
    padding-bottom: 20px;
}

.welcome-text {
    position: absolute;
    top: 200px;
    color: #000;
    width: 100%;
    z-index: 999;
}

.job-title-text {
    color: #02BDD5;
    font-size: 36px;
    font-weight: 700px;
}

p.about-text {
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: #666;
    margin-top: 25px;
    max-width: 850px;
}

.welcome-text h1 {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn.btn-default.view-btn {
    border-radius: 0;
    color: #fff;
    padding: 20px 35px;
    background-color: #414141;
    font-size: 13px;
    line-height: 1em;
}

.thumbnail {
    border: none;
    padding-right: 0px;
    padding-left: 0px;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.about-row {
    margin-top: 100px;
}

.about-me-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.hello-text {
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 35px;
}

.latest-works-text {
    font-size: 14px;
    font-weight: 300;
    color: #727272;
    line-height: 20px;
}

.works-title {
    margin-top: 105px;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.gray-bg-color {
    background-color: #FCFCFC;
}

.centered-text {
    text-align: center;
}

.box-shadow {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
}

.img-overlay {
    background-color: #000;
    display: none;
    opacity: 0.8;
}

.thumbnail-wrapper {
    position: relative;
}

.thumbnail:hover .img-overlay {
    display: inline-block;
    cursor: pointer;
}

.overlay-btns button {
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    background-color: transparent;
    z-index: 99999;
}

.demo-btn {
    margin-right: 10px;
}

.overlay-btns button:hover {
    background-color: transparent;
    border-color: #fff;
}

.overlay-btns {
    top: 50%;
    left: 89px;
}

.title-color {
    color: #02BDD5;
    font-weight: 500;
    line-height: 1.1;
}

.title-color:hover {
    text-decoration: none;
}

.first-content-img {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
}

.content-row {
    margin-top: 20px;
    margin-bottom: 125px;
}

.imgs-row {
    margin-top: 50px;
}

.text-in-col {
    margin-top: 20px;
    padding-left: 0px;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.media-heading-text {
    width: 174px;
}

.icons-row {
    margin-top: 50px;
    margin-bottom: 160px;
}